absl-py
astunparse
attrs
cachetools
certifi
cffi
charset-normalizer
chex
contourpy
cycler
etils
flatbuffers
flax
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
jax
jaxlib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
msgpack
nest-asyncio
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
optax
orbax-checkpoint
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
pygame
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rich
rsa
scipy
six
sounddevice
tensorboard
tensorboard-data-server
tensorflow
tensorflow-decision-forests
tensorflow-estimator
tensorflow-hub
tensorflow-macos
tensorflowjs
tensorstore
termcolor
tf-bodypix
tfjs-graph-converter
toolz
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
wurlitzer
zipp
