tf_bodypix
tensorflow
tfjs-graph-converter
mediapipe
opencv-python
pygame
torch
torchvision
torchaudio
tqdm
pandas
pyyaml
seaborn
scipy
numpy==1.23.4

--extra-index-url https://google-coral.github.io/py-repo/
pycoral~=2.0